<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="navbar::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>HomePage</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">

		<div class="text-center">
			<h1 class=" font-weight-bold">Smart Contact Manager</h1><br>
			<div class = "container" id= "text">
			<p>Welcome to our Smart Contact Manager – the intelligent
				solution for efficient and organized contact management.Seamlessly
				blending advanced features with user-friendly design, our contact
				manager goes beyond traditional functionality. With powerful search
				capabilities, automated updates, and integration with email,
				calendar, and social media, staying connected has never been easier.
				Enjoy the convenience of automatic reminders for birthdays,
				anniversaries, and follow-ups.Our AI-driven insights provide a
				deeper understanding of your relationships, while security measures
				ensure the confidentiality of your data. Experience the simplicity
				of cloud storage and synchronization across devices, making your
				contacts accessible anytime, anywhere. Revolutionize the way you
				manage connections with our Smart Contact Manager – where innovation
				meets simplicity.</p>
				</div>
				<br>
				<button class="btn bg-primary text-white">Get Started</button>
				
		</div>
	</section>
</body>
</html>